.cb {
    width: 56rem;
    height: 56rem;
    margin: 0 auto;
    border: 2px solid #9a86b1;

    background:
        conic-gradient(
            #a79b9b 25%,
            #fff 0 50%,
            #a79b9b 0 75%,
            #fff 0
        );

    background-size: 14rem 14rem;
}