.cb {
    width: 56rem;
    height: 56rem;
    margin: 0 auto;
    border: 2px solid #9a86b1;
    /* new line */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.square:nth-child(odd){
    background: #000;
}

.square:nth-child(even){
    background: #fff;
}